{% extends "base/base.html" %}

{% block title %}{{ section.title }}{% endblock %}
{% block javascript %}
<script type="text/javascript">
    var sock = null;
    var wsuri = "{{ websocket }}://"+$(location).attr('host')+"/websocket";

    window.onload = function() {

        sock = new WebSocket(wsuri);

        sock.onopen = function() {
            console.log("connected to " + wsuri);
        }

        sock.onclose = function(e) {
            console.log("connection closed (" + e.code + ")");
        }

        sock.onmessage = function(e) {
            console.log("message received: " + e.data);
            var JsonData = jQuery.parseJSON(e.data);
            $('#chat').append('<li class="lisa"><strong>Lisa</strong> > '+JsonData.body+'</li>');
            readme(JsonData.body);
        }
    };

    function html5_audio(){
        var a = document.createElement('audio');
        return !!(a.canPlayType && a.canPlayType('audio/mpeg;').replace(/no/, ''));
    }

    var play_html5_audio = false;
    if(html5_audio()) play_html5_audio = true;

    function play_sound(url){
        if(play_html5_audio){
            var snd = new Audio(url);
            snd.load();
            snd.play();
        }else{
            $("#sound").remove();
            var sound = $("<embed id='sound' type='audio/mpeg' />");
            sound.attr('src', url);
            sound.attr('loop', false);
            sound.attr('hidden', true);
            sound.attr('autostart', true);
            $('body').append(sound);
        }
    }
    function readme(txt){
        txt = txt.split('.').join("");
        txt = txt.split('&').join("et");
        txt = txt.split('é').join("e");
        txt = txt.split('-').join(" ");
        txt = txt.split('?').join("");
        txt = txt.split('\'').join("");
        txt = txt.split(':').join("");
        txt = txt.split('«').join("");
        txt = txt.split('»').join("");
        txt = txt.replace(/ +(?= )/g,'');
        txt = txt.trim();
        console.log("http://translate.google.com/translate_tts?ie=UTF-8&q="+encodeURIComponent(txt)+"%20&tl=fr&total=1&idx=0&prev=input");
        play_sound("http://translate.google.com/translate_tts?ie=UTF-8&q="+encodeURIComponent(txt)+"%20&tl=fr&total=1&idx=0&prev=input");
    }

    function send() {
        var msg = document.getElementById('message').value;
        $('#chat').append('<li class="me"><strong>Me</strong> > '+msg+'</li>');
        sock.send(msg);

        $('#message').onwebkitspeechchange = function(e) {
            console.log(e); // SpeechInputEvent
            document.getElementById('sendit').send();

        }
    };

</script>

{% endblock %}

{% block content %}
<div class=span12>
    <div style="height: 200px; width: 600px;overflow:auto;">
        <ul id="chat">
        </ul>
    </div>
    <p>
        Message:
        <input id="message" type="text" value="Hello, world!" x-webkit-speech>
    </p>
    <button id="sendit" onclick='send();'>Send Message</button>
</div>
{% endblock %}
