<!DOCTYPE html>
<html lang="en">
    <head>
    {% include "base/head.html" %}
    </head>
    <body>
    {% include "base/header.html" %}
    {% block body %}
        {% include "base/nav-bar.html" %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="pagination-centered">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div> <!-- /container -->
    {% endblock %}
    {% include "base/footer.html" %}
    </body>
</html>
   
