<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container-fluid">
   <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </a>
   <a href="/" class="brand">LISA Dashboard</a>
   <div class="nav-collapse">
       <ul class="nav pull-left">
           <li class>
               <a href="/speech">Speech</a>
           </li>
           <li class="divider-vertical" />
           <li class>
               <a href="/plugins/list">Plugins</a>
           </li>
       </ul>
    <ul class="nav pull-right">
     <li id="menu1" class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">admin<b class="caret"></b></a>
      <ul class="dropdown-menu">
          <li><a href="/logout">Log Out</a></li>
      </ul>
     </li>
    </ul>
   </div><!--/.nav-collapse -->
  </div>
 </div>
</div>
