[project]
	description = L.I.S.A is an intelligent system to help you in your daily life and a framework to connect objects between them.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Julien Syx (Seraf)
[access "refs/for/refs/*"]
	read = group user/Julien Syx (Seraf)
	push = group user/Julien Syx (Seraf)
	label-Code-Review = -2..+2 group user/Julien Syx (Seraf)
	label-Verified = -1..+1 group user/Julien Syx (Seraf)
	rebase = group user/Julien Syx (Seraf)
	removeReviewer = group user/Julien Syx (Seraf)
	submit = group user/Julien Syx (Seraf)
[access "refs/heads/*"]
	read = group user/Julien Syx (Seraf)
	create = group user/Julien Syx (Seraf)
	push = +force group user/Julien Syx (Seraf)
	pushMerge = group user/Julien Syx (Seraf)
[access "refs/tags/*"]
	push = +force group user/Julien Syx (Seraf)
	pushTag = group user/Julien Syx (Seraf)
	pushSignedTag = group user/Julien Syx (Seraf)
