<!DOCTYPE html>
<html>
<head>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        var sock = null;
        var wsuri = "ws://localhost:9000";

        window.onload = function() {

            sock = new WebSocket(wsuri);

            sock.onopen = function() {
                console.log("connected to " + wsuri);
            }

            sock.onclose = function(e) {
                console.log("connection closed (" + e.code + ")");
            }

            sock.onmessage = function(e) {
                console.log("message received: " + e.data);
                var JsonData = jQuery.parseJSON(e.data);
                $('#chat').append('<li class="jarvis"><strong>Jarvis</strong> > '+JsonData.body+'</li>');
                readme(JsonData.body);
            }
        };

        function html5_audio(){
            var a = document.createElement('audio');
            return !!(a.canPlayType && a.canPlayType('audio/mpeg;').replace(/no/, ''));
        }

        var play_html5_audio = false;
        if(html5_audio()) play_html5_audio = true;

        function play_sound(url){
            if(play_html5_audio){
                var snd = new Audio(url);
                snd.load();
                snd.play();
            }else{
                $("#sound").remove();
                var sound = $("<embed id='sound' type='audio/mpeg' />");
                sound.attr('src', url);
                sound.attr('loop', false);
                sound.attr('hidden', true);
                sound.attr('autostart', true);
                $('body').append(sound);
            }
        }
        function readme(txt){
            txt = txt.split('.').join("");
            txt = txt.split('&').join("et");
            play_sound("http://translate.google.com/translate_tts?ie=UTF-8&q="+'"'+encodeURIComponent(txt)+'"'+"&tl=fr&total=1&idx=0prev=input");
        }

        function send() {
            var msg = document.getElementById('message').value;
            $('#chat').append('<li class="me"><strong>Me</strong> > '+msg+'</li>');
            sock.send(msg);
        };
    </script>
</head>
<body>
    <h1>Jarvis WebSocket</h1>
    <div style="height: 200px; width: 600px;overflow:auto;">
        <ul id="chat">
        </ul>
    </div>
    <p>
            Message:
            <input id="message" type="text" value="Hello, world!" x-webkit-speech>
    </p>
    <button onclick='send();'>Send Message</button>
</body>
</html>