{
    "lang": "fr",
    "lisa_url": "localhost",
    "lisa_engine_port": 10042,
    "lisa_engine_port_ssl": 10043,
    "lisa_web_port": 8000,
    "lisa_web_port_ssl": 8443,
    "database": {
        "server": "localhost",
        "port": 27017,
        "user": "lisa",
        "pass": "lisapowered"
    },
    "debug": {
        "debug_input": true,
        "debug_output": true,
        "debug_scheduler": false,
        "debug_wit": true,
        "debug_before_before_rule": false,
        "debug_after_before_rule": false,
        "debug_before_after_rule": false,
        "debug_after_after_rule": false
    },
    "enable_secure_mode": false,
    "enable_unsecure_mode": true,
    "wit_url": "https://api.wit.ai/",
    "wit_token": "ATSHFOROYVUWQ3HTYBGHJNNYAXD7NTBC",
    "wit_confidence": 0.800,
    "bot_name": "lisa",
    "plugin_store": "http://plugins.lisa-project.net/"
}
